@model AdminLoginModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mb-2">Backend admin panel</h1>

    @if (Model.Message != string.Empty)
    {
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-danger" role="alert"><b>@Model.Message</b></div>
        </div>
    </div>
    }

    <div class="row justify-content-center mb-4 mt-5">
        <div class="col-md-4">
            <div class="border border-2 rounded-3 p-3">
                <h5>Manage PersonEntities</h5>
                <a class="btn btn-primary mt-4 w-50 h-25" asp-controller="Person" asp-action="Index"><b>Manage</b></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border border-2 rounded-3 p-3">
                <h5>Manage SectorEntities</h5>
                <a class="btn btn-primary mt-4 w-50 h-25" asp-controller="Sector" asp-action="Index"><b>Manage</b></a>
            </div>
        </div>
    </div>
    
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}