@import "tailwindcss";

@theme {
  --color-main-blue: #4492EA;
  --color-main-dark: #2B2B2B;
  --color-button-dark: #1E1E1E;
  --color-button-hover: #282828;
  --color-secondary-dark: #3B3B3B;
  --color-teritary-dark: #525252;
  --color-nav-hover: #353535;
  --color-main-text: #BCBCBD;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
